@keyframes filterGrow {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scaleX(3) scaleY(5);
    }
}






main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBar input {
    background-color: #ece8e8;
    border: none;
    border-radius: 2px 0 0 2px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    outline: none;
}

#searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

#logo {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#icon {
    width: 30px;
    background-color: #ece8e8;
    border-radius: 0 2px 2px 0;
    padding-right: 10px;
}

#filter {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}

.boxFilter {
    background-color: red;
    padding: 15px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transform-origin: top left;
    position: relative;
    width: 170px;
    height: 55px;
    
}

.arrow {
    margin-left: 30px;
    transform: rotate(90deg);
    font-weight: bold;
    position: absolute;
    right: 15px;
}

#blue {
    background-color: #3282F7;
}

#green {
    background-color: #68D9A4;
}

#red {
    background-color: #ED6454;
}


#recipes {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;

}

article {
    background-color: #E7E7E7;
    width: 380px;
    height: 364px;
    border-radius: 4px;
    cursor: pointer;
}

article .picture {
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 4px 4px 0 0;
}

article .info {
    background-color: #E7E7E7;
}

.recipeTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

article h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;
}

.recipeInstruction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

li {
    list-style: none;
    font-weight: bold;
}

ul {
    padding-left: 20px;
    width: 171px;
    height: 105px;
}

.instruction {
    width: 171px;
    height: 109px;
    margin-right: 18px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}





/*.boxFilter:hover {
    animation: filterGrow 1000ms forwards;
}*/


#ingredients {
    width: 667px;
    height: 397px;
    background-color: #3282F7;
    overflow: auto;
    
}
#ingredients ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#ingredients li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}


#appareils {
    width: 667px;
    height: 397px;
    background-color: #68D9A4;
    overflow: auto;
}
#appareils ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#appareils li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}


#ustensiles {
    width: 667px;
    height: 397px;
    background-color: #ED6454;
    overflow: auto;
}
#ustensiles ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#ustensiles li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}








/**********************************************/

#dropdown-menu2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: red;
}

#box12 {
    width: 177px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

#ingredients2 {
    background-color: #3282F7;
    width: 100%;
    padding-top: 17px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

#arrow12 {
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 3px;
    color: white;
    font-weight: bold;
}

#box22 {
    width: 177px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

#appliances2 {
    background-color: #68D9A4;
    width: 100%;
    padding-top: 17px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

#arrow22 {
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 3px;
    color: white;
    font-weight: bold;
}

#box32 {
    width: 177px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

#ustensils2 {
    background-color: #ED6454;
    width: 100%;
    padding-top: 17px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
}

#arrow32 {
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 3px;
    color: white;
    font-weight: bold;
}


#filter input {
    width: 500px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.712);
    font-weight: bold;
  }





.big-box {
    display: flex;
    flex-direction: column;
}

#list-ingredients2 {
    display: none;
    background-color: #3282F7;
    width: 667px;
    height: 342px;
    border-radius: 0 0 4px 4px;
    overflow: auto;
}

#list-ingredients2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#list-ingredients2 li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}



#list-appliances2 {
    display: none;
    background-color: #68D9A4;
    width: 667px;
    height: 342px;
    border-radius: 0 0 4px 4px;
    overflow: auto;
}

#list-appliances2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#list-appliances2 li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}




#list-ustensils2 {
    display: none;
    background-color: #ED6454;
    width: 667px;
    height: 342px;
    border-radius: 0 0 4px 4px;
    overflow: auto;
}

#list-ustensils2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#list-ustensils2 li {
    color: white;
    font-weight: normal;
    width: 222px;
    cursor: pointer;
}



#innerFilter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}


#innerFilter h3 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
}

/*
#innerFilter h3:first-letter {
    text-transform: uppercase;
}*/

#innerFilter span {
    color: white;
    border: 2px solid white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.ingredientsColor {
    background-color: #3282F7;
}

.appliancesColor {
    background-color: #68D9A4;
}

.ustensilsColor {
    background-color: #ED6454;
}

p {
    color: red;
    font-weight: bold;
}